body {
    font-family: cursive;
}

p {
    font-size: 6.4em;
}

.eye {
    background-color: blue;
    width: 20%;
    height: 20%;
    border-radius: 90%;
}

.arm {
    background-color: #0d010319;
    position: absolute;
    top: 35%;
    width: 19%;
    height: 80%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 40%;
    background-color: #06ef12;
    position: absolute;
    left: 30%;
    top: 5%;
}

#righteye {
    position: absolute;
    left: 20%;
    top: 10%;
}

#lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
    document.getElementById("lefteye").style.background-Color="purple";
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: rgb(192, 205, 3);
}

#mouth {
    position: absolute;
    width: 90%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: rgb(255, 0, 0);
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 35%;
    height: 55%;
    background-color: #0e0ee0;
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 5%;
    width: 22%;
    height: 19%
}

#leftarm {
    position: absolute;
    left: 60%;
    width: 22%;
    height: 14%;
}