table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 7px solid #fc8c24;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #14f732;
}