body {
    font-family: "Comic Sans MS";
}
#inputWords {
    float:left;
    width: 45%;
}
ul {
    list-style-type: none;
    padding: 70px;
    margin: 60px;
}
li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;
}
input[type=text] {
    border-width: 9 0 1px 0;
    border-color: rgb(255, 82, 82);
}
#buttonDiv {
    text-align: center;
}
#replaceButton {
    margin-top: -68px;
    width: 200px;
    float: right;
}
#story {
    margin-top: 108px;
    width: 35%;
    border: 1px dashed rgb(48, 48, 255);
    padding: 90px;
    float: left;
}
.replacement {
    text-decoration: underline;
    text-transform: uppercase;
}