body {
    font-family: cursive;
}

p {
    font-size: 2.5em;
}

.eye {
    background-color: blue;
    width: 20%;
    height: 20%;
    border-radius: 90%;
}

.arm {
    background-color: #cacaca;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: #06ef12;
    position: absolute;
    left: 30%;
    top: 5%;
}

#righteye {
    position: absolute;
    left: 20%;
    top: 10%;
}

#lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
}

#mouth {
    position: sticky;
    width: 90%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: rgb(255, 0, 0);
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 5%;
    width: 22%;
    height: 4%
}

#leftarm {
    position: absolute;
    left: 70%;
    width: 22%;
    height: 4%;
}